* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero__section{
  /* background: red;
  height: 100vh;
  width: 100%; */
  background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
  background-position: center;
  background-size: cover;
  color:white;
  min-height: 60vh;
  
}

.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 16px 48px;
  height: 60px;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: large;
}

.navbar__menu_container{
  display: flex;
  gap: 20px;
  font-weight: 250;
}

@media only screen and (max-width: 600px) {
  .navbar__menu_container .link{
    display: none;
  }


.navbar{
  padding: 16px;
}

.hero__section{
  min-height: 80vh;
}

.user__icon{
  display: flex;
}
}

.hero__section_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(60vh - 60px);
  gap:32px;
}

.hero__section_logo{
  width:260px;
  height: auto;
}
.hero__section_title{
text-align: center;
}


.hero__section_input_container{
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.input_container_location,
.input_container_search{
  padding: 5px;
  border:none;
  outline:none;
}

.input_container_search{
  width:65%;
}

.input_container_location{
  width: 35%;
  border-right: 2px solid #e0e0e0;
}

.hero__section_input_container{
  flex-direction: column;
  background-color: transparent;
  width: 100%;  
}

.input_container_location,
.input_container_search{
  padding: 15px;
  border-radius: 10px;
  width: 90%;
}

.hero__section_container{
  height: calc(80vh - 60px);
}

.input_container_location{
  border-right: none;
}